* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    // overflow: hidden;
    // overflow-y: scroll;
}
body{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    // overflow-x: hidden;   
    
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    color: $tc-primary;
}

a {
    text-decoration: none;   
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}


input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}