//============================================ text color
$tc-primary: #484f5b;
$tc-second: #fff;

$tc-form-placeholder: #b0b0b0;

// ============================================ elem color

$elem-primary-color: #e5ccc6;
$elem-second-color: #484f5b;

// ============================================ text size

// $ts-h1-from-1500: 85px;
// $ts-h1-from-1500: 85px;



