* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.loader {
    position: relative;
    border-radius: 50%;
    animation: animate 3s linear infinite;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: animate 3s linear infinite;
        animation-delay: 1.5s;
    }
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        border: 1px solid rgb(29, 160, 235);
        box-shadow: 0px 0px 10px 0px rgb(29, 160, 235),
            inset 0px 0px 10px 0px rgb(29, 160, 235);
    }   
    100% {
        width: 150px;
        height: 150px;
        border: 2px solid rgb(29, 160, 235);
        box-shadow: 0px 0px 20px -4px rgb(29, 160, 235),
            inset 0px 0px 10px -4px rgb(29, 160, 235);       
    }
}