/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* Arrows */
.slick-prev,
.slick-next {
  z-index: 100;
  margin: 0;
  width: 83px;
  height: 83px;
  background-color: #e6e6e6;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 1400px) {
  .slick-prev,
  .slick-next {
    top: 102%;
  }
}

@media screen and (max-width: 1000px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #7e14bb;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.slick-prev div,
.slick-next div {
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: contrast(0);
          filter: contrast(0);
}

.slick-prev:hover div,
.slick-next:hover div {
  background-image: url(../img/arrow.png);
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.slick-prev {
  left: -100px;
}

@media screen and (max-width: 1400px) {
  .slick-prev {
    left: 40%;
  }
}

.slick-next {
  right: -100px;
}

@media screen and (max-width: 1400px) {
  .slick-next {
    right: 40%;
  }
}

.slick-next div {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-dots {
  display: none;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  display: none;
}

.slick-dots li {
  display: none;
}

.slick-dots li button {
  display: none;
}
/*# sourceMappingURL=slick.css.map */