@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
}

ul,
li {
  list-style-type: none;
}


a {
  text-decoration: none;
}

.conteiner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 20px;
}

//--------------------------preloader-----------------------------------------
.preloader {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgb(60, 60, 60);

  &__wrapp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cssload-loader {
  position: relative;
  left: calc(50% - 31px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  perspective: 780px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;

}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.45s linear infinite;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.45s linear infinite;
  border-right: 3px solid rgb(255, 255, 255);
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.45s linear infinite;
  border-top: 3px solid rgb(255, 255, 255);
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// -----------------------------menu decstop------------------------------------------
.menu-wrapp {
  position: fixed;
  top: -82px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 82px;
  background-color: rgb(60, 60, 60);
  transition: all 0.5s;
  border-bottom: 2px solid rgb(251, 251, 250);

  @media screen and (max-width: 768px) {
    height: 50px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    @media screen and (max-width: 950px) {
      width: 80%;
    }
  }

  &__item {}

  &__link {
    display: block;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
  }
}

// ---------------------------------------menu icon burger---------------------------------------
.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.menu-icon {
  position: relative;
  z-index: 19;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  z-index: 100;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease-in, top 0.3s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease-in, top 0.3s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.3s linear, transform 0.3s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.3s linear, transform 0.3s ease-in 0.2s;
}

// --------------------------------menu mobile--------------------------------
.menu-mobile {
  position: absolute;
  top: -100%;
  z-index: 89;
  width: 100%;
  height: 0vh;
  background-color: rgb(60, 60, 60);
  overflow: hidden;
  transition: all .4s;
  text-align: center;

  @media screen and (max-width: 768px) {}

  &__list {}

  &__item {
    margin-bottom: 40px;
  }

  &__img {
    padding-left: 10px;
  }

  &__link {
    display: block;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
  }
}

.lang-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 80px auto;
}


.mobile-nav--active {
  height: 100vh;
  top: 100%;
}

// --------------------------------button-top--------------------------------


.button-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 25px;
  z-index: 200;
  width: 60px;
  height: 60px;
  border-width: 2px;
  border-color: rgb(251, 251, 250);
  border-style: solid;
  padding: 15px 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(60, 60, 60);

  &:hover {
    background-color: rgb(83, 82, 82);
    color: rgb(254, 252, 252);
    animation-name: fade;
    animation-duration: 2s;
  }

  &__img {}
}


//-----------------------------first-screen-----------------------------------
.first-screen {
  width: 100%;
  min-height: 100vh;
}

.logo-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo {
  margin: 0px;

  @media screen and (max-width: 400px) {
    margin: 0 auto;
  }

  &__img {}
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;

  @media screen and (max-width: 400px) {
    display: none;
  }

  &__item {
    border-width: 1.82px;
    border-color: rgb(254, 254, 254);
    border-style: solid;
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }

  &__text {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
  }
}

.offer-wrapp {
  height: 75vh;
  position: relative;

  @media screen and (max-height: 400px) {
    height: 10vh;
  }
}

.offer-conteiner {
  position: absolute;
  top: 30%;
  left: 0;

  @media screen and (max-width: 587px) {
    text-align: center;
    top: 20%;
  }
}

.offer {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(253, 253, 253);
  font-weight: bold;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: 10px;

  @media screen and (max-width: 813px) {
    font-size: 24px;
  }
}

.button-wrapp {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
  // width: 400px;

  @media screen and (max-height: 400px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 587px) {
    margin: 60px auto;
  }

  @media screen and (max-width: 587px) {
    display: block;
    width: 200px;
  }
}

.button {
  border-width: 1.82px;
  border-color: rgb(254, 254, 254);
  border-style: solid;
  padding: 18px;
  margin-right: 10px;
  //width: 193.36px;
  height: 51.36px;
  cursor: pointer;

  @media screen and (max-width: 587px) {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(60, 60, 60);
    font-weight: 900;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.button-one {
  background-color: rgb(254, 254, 254);
}

.button__text-two {
  color: rgb(253, 253, 253);
}

.arrow {
  margin: 0 auto;
  width: 42px;
  height: 24px;

  @media screen and (max-height: 400px) {
    display: none;
  }

  &__img {
    cursor: pointer;
  }
}

// ------------------------about-----------------------
.wrapp-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  margin-bottom: 40px;

  &__text {
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(60, 60, 60);
    font-weight: bold;
    text-align: center;
  }

  &__text-footer {
    margin-top: 20px;

    @media screen and (min-width: 1700px) {
      padding-top: 30px;
      color: rgb(254, 252, 252);
    }
  }

  &__content {
    margin-top: 80px;
    color: rgb(254, 252, 252);
    letter-spacing: 2px;
    text-align: center;

    @media screen and (min-width: 1700px) {
      margin-top: 20px;
    }
  }
}

.content-wrapp {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    display: block;
  }

  // width: 1020px;
}

.photo-block {
  width: 30%;
  text-align: center;
  letter-spacing: 1px;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  &__img {}

  &__title {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(60, 60, 60);
    font-weight: 900;
    line-height: 3.429;
  }

  &__content {
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(85, 84, 84);
    font-weight: 600;
    line-height: 1.357;
    margin: 0 auto;

    // @media screen and (max-width: 1000px) {
    //     width: 100%;
    // }
  }
}

.skils-block {
  width: 50%;

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-top: 20px;
  }
}

.tape {
  background-color: rgb(152, 151, 151);
  height: 34px;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 14px;

  &__text {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

  &__item-progres {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &__item-one {
    background-color: rgb(85, 84, 84);
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
    height: 34px;
    padding: 10px;
  }

  &__item-two {
    background-color: rgb(60, 60, 60);
    width: 0%;
    height: 34px;
    transition: all 0.8s;
  }
}


// -------------------------------------------strip---------------------------------
.strip {
  background-color: rgb(60, 60, 60);
  width: 100%;
  padding: 20px 0;

  &__text {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(253, 253, 253);
    font-weight: 400;
    line-height: 2;
    text-align: center;
    letter-spacing: 1px;
  }
}

// -----------------------step-work-------------------------------------------
.work {
  padding-top: 30px;
  padding-bottom: 30px;
}

.step-work {
  display: flex;
  justify-content: space-between;

}

.part-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;

  @media screen and (max-width: 677px) {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  &__img {
    padding: 0 50px;

    @media screen and (max-width: 677px) {
      width: 84px;
      align-content: center;
      margin: 0 auto;
      padding: 20px 0px;
    }
  }

  &__text {
    @media screen and (max-width: 677px) {}
  }

  &__text-title {
    font-size: 14px;
    font-family: "Roboto";
    color: #3c3c3c;
    font-weight: 900;
  }

  &__text-content {
    padding-top: 30px;
    padding-right: 30px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(60, 60, 60);
    font-weight: 600;

    @media screen and (max-width: 677px) {
      padding-right: 10px;
    }
  }
}

.arrow-work {
  padding: 10px 30px 20px 0;
  margin-top: 50px;
  align-self: flex-end;

  @media screen and (max-width: 677px) {
    display: none;
  }
}

.right-man {
  padding-left: 40px;

  @media screen and (max-width: 677px) {
    padding-left: 0px;
  }
}

.right-arrow {
  padding-right: 0;
  padding-left: 80px;
  padding-bottom: 30px;
}

.display {
  justify-content: flex-end;
  padding: 0 50px;
}

.win {
  padding-left: 0;
  margin: 41px 0px;

}

@media screen and (max-width: 800px) {
  .padding-media {
    padding-left: 10px;
  }

  .arrow-work {
    padding: 10px 30px 40px 0;
  }
}


.last {
  margin-top: 40px;
}

@media screen and (max-width: 677px) {
  .last {
    display: none;
  }
}

// -------------------------project-------------------------
.project {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tab-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 568px) {
    display: block;
  }

  &__item {
    width: 50%;
    text-align: center;
    position: relative;
    padding: 0;

    @media screen and (max-width: 568px) {
      width: 70%;
      margin: 10px auto;
      padding: 15px;
      border-width: 2px;
      border-color: rgb(60, 60, 60);
      border-style: solid;
    }
  }

  &__active {
    position: absolute;
    top: 23px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 4px;
    background-color: rgb(60, 60, 60);
    transition: all .7s;

    @media screen and (max-width: 568px) {
      display: none;
    }
  }

  &__text {
    cursor: pointer;
    padding: 15px 40px;
    color: rgb(60, 60, 60);
    font-weight: 900;
  }
}

.project-exampel {

  &__item {
    width: 100%;
    height: 500px;
    position: relative;

    @media screen and (max-width: 800px) {
      height: 400px;
    }

    @media screen and (max-width: 650px) {
      height: 300px;
    }

    @media screen and (max-width: 568px) {
      height: 230px;

      &:hover .cover {
        width: 100%;
      }
    }
  }


  &__link {
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

}

.right {
  right: 0;
}

.left {
  left: 0;
}

.cover {
  text-align: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.469);

  @media screen and (max-width: 568px) {
    width: 100%;
  }

  &__title {
    padding-top: 200px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    transition: all 1s;

    @media screen and (max-width: 800px) {
      padding-top: 150px;
    }

    @media screen and (max-width: 650px) {
      padding-top: 120px;
    }

    @media screen and (max-width: 568px) {
      padding-top: 70px;
    }
  }

  &:hover &__title {
    padding-top: 170px;

    @media screen and (max-width: 800px) {
      padding-top: 100px;
    }

    @media screen and (max-width: 650px) {
      padding-top: 60px;
    }

    @media screen and (max-width: 568px) {
      padding-top: 20px;
    }
  }

  &__line {
    margin: 15px auto;
  }

  &:hover &__line {
    margin: 25px auto;
    width: 50%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    animation-name: widht;
    animation-duration: 1s;
  }

  &__text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 25px;
  }

  &__button {
    display: none;

    &:hover {
      background-color: rgb(83, 82, 82);
      color: rgb(254, 252, 252);
      animation-name: fade;
      animation-duration: 2s;
    }
  }

  &:hover &__button {
    display: block;
    border-width: 2px;
    border-color: rgb(251, 251, 250);
    border-style: solid;
    width: 150px;
    margin: 0 auto;
    animation-name: fade;
    animation-duration: 2s;

  }

  &:hover &__link {
    display: block;
    color: rgb(254, 252, 252);
    padding: 15px 0px;
  }
}

//  -----------------------------animation-----------------------------
.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes widht {
  from {
    width: 0%;
    margin: 0px auto;
  }

  to {
    width: 50%;
    margin: 25px auto;
  }
}

// ---------------------------------footer----------------------------

.contact {
  margin-top: 40px;
  //height: 776px;
  width: 100%;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.conteiner-wrapp {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    width: 90%;
  }
}

.form {


  &__item {
    margin-bottom: 14px;

    &:first-child::before {
      font-family: "FontAwesome";
      font-size: 14px;
      // color: blue;
      content: '\f007';
      position: absolute;
      margin: 10px;
      color: rgb(83, 82, 82);
    }

    &:nth-child(2):before {
      font-family: "FontAwesome";
      font-size: 13px;
      // color: blue;
      content: '\f0e0';
      position: absolute;
      margin: 10px;
      color: rgb(83, 82, 82);
    }

    &:nth-child(3):before {
      font-family: "FontAwesome";
      font-size: 15px;
      // color: blue;
      content: '\f14b';
      position: absolute;
      margin: 10px;
      color: rgb(83, 82, 82);
    }
  }

  &__item-input {
    width: 100%;
    height: 35px;
    padding: 0 30px;
    font-weight: 700;
  }

  &__item-textarea {
    width: 100%;
    height: 145px;
    padding: 10px 30px;
  }

  &__button {
    // padding: 0;
    // border: none;
    // font: inherit;
    // color: ;
    background-color: transparent;
    display: block;
    border-width: 2px;
    border-color: rgb(251, 251, 250);
    border-style: solid;
    width: 150px;
    margin: 20px auto;
    color: rgb(254, 252, 252);
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(83, 82, 82);
      color: rgb(254, 252, 252);
      animation-name: fade;
      animation-duration: 2s;
    }
  }
}

.footer-line {
  height: 2px;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(254, 252, 252);
}

.footer-link {
  margin-top: 30px;
  text-align: center;

  &__item {
    color: rgb(83, 82, 82);
    font-weight: 2px;

  }
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;


}

.input__file {
  opacity: 0;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(254, 252, 252);

}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  max-width: 240px;
  height: 60px;
  border: 2px solid rgb(254, 252, 252);
  border-left: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    background-color: rgb(83, 82, 82);
    color: rgb(254, 252, 252);
    animation-name: fade;
    animation-duration: 2s;
  }
}