//============================================ text color
$tc-dark: #000000;
$tc-light: #ffffff;

// ============================================ elem color

$elem-primary-color: #303f9f;;
$elem-second-color: #ff4081;


