@font-face {
    font-family: "Ekibastuz";
    src: url(../fonts/Ekibastuz-ExtraBlack.ttf) format("truetype");
    /* все современные браузеры */
    font-weight: 900;
}

@font-face {
    font-family: "Ekibastuz";
    src: url(../fonts/Ekibastuz-Heavy.ttf) format("truetype");
    /* все современные браузеры */
    font-weight: 800;
}

@font-face { 
    font-family: "Ekibastuz";
    src:  url(../fonts/Ekibastuz-Black.ttf) format("truetype"); /* все современные браузеры */
    font-weight: 700;
}

@font-face { 
    font-family: "Ekibastuz";
    src:  url(../fonts/Ekibastuz-Bold.ttf) format("truetype"); /* все современные браузеры */
    font-weight: 600;
}
@font-face { 
    font-family: "Ekibastuz";
    src:  url(../fonts/Ekibastuz-Regular.ttf) format("truetype"); /* все современные браузеры */
    font-weight: 500;
}