@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4d4959;
    list-style: none;
}

a {
    text-decoration: none;
}

// ----------------------------------------------------------------------------------
.burger-wrapp {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1000;

    @media screen and (max-width: 900px) {
        display: block;
    }
}

.menu-field {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #eae9f0;
    z-index: 999;
}

.menu-field-active {
    display: block;
}

.menu-mobile {
    width: 100px;
    margin: 0 auto;
    text-align: center;

    &__ittem {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4959;
        margin-top: 40px;
    }
}

/*  COLORS
========================================= */

// $bg-color: #2c3e50;
$white: #ffffff;

/*  MIXINS
========================================= */

@mixin animation($animation) {
    animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
    transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
    @-webkit-keyframes #{$keyframes} {
        @content;
    }

    @-moz-keyframes #{$keyframes} {
        @content;
    }

    @-o-keyframes #{$keyframes} {
        @content;
    }

    @keyframes #{$keyframes} {
        @content;
    }
}

@mixin transform($transform) {
    transform: $transform;
}

@mixin transition($transition...) {
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    transition-delay: #{$transition-delay};
}

/*  RESET
========================================= */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     background-color: $bg-color;
// }


/*  MENU ICON
========================================= */

.menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    width: 50px;
    height: 50px;

    .dott {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 10px;
        @include transform(translate(-50%, -50%));
        @include transition(margin .4s ease .4s, width .4s ease);

        &:nth-of-type(1) {
            margin-top: -20px;
            margin-left: -20px;
            @include transform(translate(-50%, -50%) rotate(45deg));
        }

        &:nth-of-type(2) {
            margin-top: -20px;
            @include transform(translate(-50%, -50%) rotate(-45deg));
        }

        &:nth-of-type(3) {
            margin-top: -20px;
            margin-left: 20px;
        }

        &:nth-of-type(4) {
            margin-left: -20px;
        }

        &:nth-of-type(5) {}

        &:nth-of-type(6) {
            margin-left: 20px;
        }

        &:nth-of-type(7) {
            margin-top: 20px;
            margin-left: -20px;
        }

        &:nth-of-type(8) {
            margin-top: 20px;
        }

        &:nth-of-type(9) {
            margin-top: 20px;
            margin-left: 20px;
        }
    }

    &.clicked {
        .dott {
            @include transition(margin .4s ease, width .4s ease .4s);
            margin-left: 0;
            margin-top: 0;

            &:nth-of-type(1) {
                width: 50px;
            }

            &:nth-of-type(2) {
                width: 50px;
            }
        }
    }
}

// ----------------------------------------------------------------------------------

.first-screen {
    width: 100%;
    height: 100vh;
    padding-top: 36px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapp-menu {
    margin: 0 auto;
    max-width: 47.69230769230769%;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__item {
        padding-right: 5.846153846153846%;

        &:last-child {
            padding: 0;
        }

    }

    &__link {
        // position: relative;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4959;
    }

    &__img {}
}

// -------------------------------------------------------------------------
.generation {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 117px;
    padding-bottom: 117px;
}

.block {
    margin: 0 auto;
    text-align: center;
    width: 83.07692307692308%;

    &__img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    &__title {
        margin: 35px 0;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
    }

    &__content {
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: #848789;
    }
}

// ---------------------------------------------------------------------
.brends {}

.brend {

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
        display: block;
    }

    &__big-img {
        width: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @media screen and (max-width: 1000px) {
            width: 100%;
            height: 600px;
        }
    }

    &__column {
        width: 40%;

        @media screen and (max-width: 1000px) {
            width: 100%;
            //height: 400px;
        }
    }

    &__content {
        padding: 70px;
        background-color: #fff;

    }

    &__content-block {
        margin: 0 auto;
        text-align: center;

        //width: 83.07692307692308%;
    }

    &__content-block-img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    &__content-block-title {
        margin: 35px 0;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
    }

    &__content-block-content {
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #848789;
        background-color: #fff;
    }

    &__img {
        height: 199px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: 1000px) {
            display: none;
            height: 400px;
        }

    }
}

.logo-brend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.width {
    width: 33.33333%;

    @media screen and (max-width: 1000px) {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .hide {
        display: none;
    }
}

//--------------------------------------------------------------
.slider {
    background-color: #f7f7f7;
    padding: 124px 0;

}

.slide {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }

    &__img {}

    &__title {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #353738;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    &__span {
        font-weight: 300;
        color: #848789;
    }

    &__content {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        font-style: italic;
        color: #848789;
        margin-bottom: 104px;
    }
}

.dots {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin: 0 auto;
}

.dot {
    width: 11px;
    height: 11px;
    border: 1.0px solid #c8c8c8;
    border-radius: 50%;
    cursor: pointer;
}

.dot-active {
    background-color: #a9afb3;
}

//---------------------------------------------------------------------
.gallery {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
        display: block;
    }
}

.first-tree {
    width: 50%;
}

.first-tree {

    &__top-line {
        display: flex;
        justify-content: space-between;
    }
}

.photo-one {
    height: 267px;
    width: 50%;
    background-image: url(../img/galery-one.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-two {
    height: 267px;
    width: 50%;
    background-image: url(../img/galery-two.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-tree {
    height: 267px;
    width: 100%;
    background-image: url(../img/galery-tree.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-four {
    height: 534px;
    width: 25%;
    background-image: url(../img/galery-four.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-five {
    width: 25%;
    background-image: url(../img/galery-five.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.second-two {
    width: 30%;

    @media screen and (max-width: 1000px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.photo-six {
    height: 267px;
    width: 100%;
    background-image: url(../img/galery-six.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-seven {
    height: 267px;
    width: 100%;
    background-image: url(../img/galery-seven.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.wrapp {
    width: 70%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}

//--------------------------------------------------------------

.submit {
    padding-top: 109px;
    padding-bottom: 109px;
    text-align: center;
    background-color: #fff;
}

.logo {}

.title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    margin: 39px;
}

.input-conteiner {
    width: 540px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media screen and (max-width: 625px) {
        width: 450px;
    }

    @media screen and (max-width: 462px) {
        display: block;
        width: 300px;
    }
}

.input-wrapp {}

.input {
    width: 400px;
    height: 69px;
    background-color: #ffffff;
    border: 1.0px solid #d3d7d9;
    padding: 28px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;

    @media screen and (max-width: 625px) {
        width: 300px;
        height: 0;
        padding: 24px;
    }
}

.input:placeholder-shown {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
}

.button {
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    padding: 24px;
    cursor: pointer;

    @media screen and (max-width: 625px) {
        width: 120px;
        height: 50px;
        padding: 13px;
    }

    @media screen and (max-width: 462px) {
        margin: 10px auto;
    }
}

//---------------------------------------------------------------------
.footer {
    background-color: #f7f7f7;

}

.footer-wrapp {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 945px) {
        text-align: center;
        display: block;
        width: 300px;
        margin-top: 20px;
    }
}

.one {

    &__title {
        font-size: 16px;
        line-height: 17px;
        font-weight: 700;
        color: #848789;
    }

    &__title-one {
        font-weight: 400;
        font-style: italic;
    }

    &__title-two {
        font-weight: 400;
        font-style: italic;
    }
}


.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 138px;
    margin: 20px auto;
}

.tree {
    &__text {
        font-size: 13.9px;
        line-height: 17px;
        font-weight: 400;
        font-style: italic;
        color: #848789;
    }

    &__text-span {}
}